# ignore written videos
*.avi

# ignore input videos
*.mp4

# ignore zip files
*.rar

# ignore coordinates files
*.pt
*.csv
*.png

# ignore runs
runs/

# ignore models / results
models/
results/
  
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class